/* font styles */
/* font colors */
/* font sizes */
/* font weight */
/* background colors */
/* button colors */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#paragraph-desktop {
  display: none;
}

@media screen and (min-width: 1439px) {
  #paragraph-desktop {
    display: block;
    width: 40%;
  }
}

#paragraph-mobile {
  display: block;
}

@media screen and (min-width: 1439px) {
  #paragraph-mobile {
    display: none;
  }
}

body {
  width: 100%;
}

body header {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.75rem;
  top: 0;
  padding: 0.625rem 1rem;
  z-index: 1;
}

body header .img-logo {
  width: 24px;
}

body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .menu input {
  display: block;
  display: none;
  position: absolute;
}

body header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
}

body header nav .menu ul {
  width: 100%;
  list-style: none;
  background: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  body header nav .menu ul {
    position: absolute;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    top: 45px;
    right: 0;
    overflow: hidden;
    height: 0px;
  }
}

body header nav .menu ul li {
  position: relative;
}

@media screen and (min-width: 1439px) {
  body header nav .menu ul li {
    padding: 10px;
  }
}

body header nav .menu ul li a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}

@media screen and (min-width: 1439px) {
  body header nav .menu ul li a {
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
  }
}

body header nav .menu ul li a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

@media screen and (min-width: 1439px) {
  body header nav .menu ul li a:hover {
    color: #060a2486;
  }
}

body header nav .menu ul li a:active {
  color: #060a248e;
  text-decoration: line-through;
}

body header nav .menu ul li {
  background: #FFFFFF;
}

body main h1, body main del, body main .dot {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

body main h1 br {
  display: inline-block;
}

@media screen and (min-width: 1439px) {
  body main h1 br {
    display: none;
  }
}

body main .dot {
  color: #060A24;
}

@media screen and (min-width: 1439px) {
  body main .dot {
    color: blue;
  }
}

body main h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
}

body main p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 22px;
}

body main .button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  color: #060A24;
  background-color: #00F3BB;
  border: none;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: inline-block;
}

@media screen and (min-width: 1439px) {
  body main .button {
    width: auto;
    margin-top: 1rem;
    margin-bottom: 2.25rem;
    margin-left: 200px;
  }
}

body main .button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  cursor: pointer;
}

body main .section-one {
  margin: 1rem;
}

body main .section-one p {
  margin-top: 1rem;
  margin-bottom: 2.25rem;
  font-size: 0.875rem;
}

body main .section-two {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
  padding: 35px 0px 140px 0px;
}

@media screen and (min-width: 1439px) {
  body main .section-two {
    padding-top: 186px;
    padding-bottom: 200px;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
}

body main .section-two .podcasts.title {
  color: #FFFFFF;
  margin: 1rem;
}

body main .section-two .iframes {
  margin: 12px 12px;
  width: 100%;
}

body main .section-two .iframes iframe {
  margin-bottom: 7px;
}

@media screen and (min-width: 1439px) {
  body main .section-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1439px) {
  body main .section-three .come-from {
    width: 40%;
  }
}

body main .section-three .images {
  width: 100%;
  margin-top: -100px;
  position: relative;
}

@media screen and (min-width: 1439px) {
  body main .section-three .images {
    width: 30%;
  }
}

body main .section-three h2 {
  margin: 1rem 1rem 0rem 1rem;
}

body main .section-three p {
  margin: 8px 1rem 54px 1rem;
}

body main .section-four h2 {
  margin: 0rem 1rem 0.875rem 1rem;
}

body main .section-four .d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 1439px) {
  body main .section-four .d-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

body main .section-four .d-grid .images {
  width: 100%;
}

body main .section-five h2 {
  margin: 3rem 1rem 1.5rem 1rem;
}

@media screen and (min-width: 1439px) {
  body main .section-five h2 {
    margin-left: 200px;
    margin-bottom: 69px;
    font-size: 3rem;
  }
}

body main .section-five .icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 1439px) {
  body main .section-five .icons-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

body main .section-five .icons-grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1439px) {
  body main .section-five .icons-grid div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .section-five .icons-grid div h3 {
  font-size: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

body main .section-six {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1439px) {
  body main .section-six {
    -webkit-clip-path: polygon(0 45%, 200% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 45%, 200% 0%, 100% 100%, 0% 100%);
    padding-top: 300px;
    padding-bottom: 100px;
  }
}

body main .section-six h2 {
  text-align: center;
  color: #FFFFFF;
  margin: 1rem;
}

@media screen and (min-width: 1439px) {
  body main .section-six h2 {
    font-size: 3rem;
  }
}

body main .section-six .button {
  margin-left: 0;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1439px) {
  body footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 10px 100px;
  }
}

body footer .copyright {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 25px;
}

body footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .social-media a {
  text-decoration: none;
}

body footer .social-media i {
  margin: 0px 17px 35px 17px;
}

@media screen and (min-width: 1439px) {
  header .menu label {
    display: none;
  }
  header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .section-one {
    margin-left: 200px;
  }
  main .section-one h1 {
    margin-left: 200px;
  }
  main .section-one h1, main .section-one h1 del {
    font-size: 4rem;
  }
  main .section-one p {
    font-size: 1rem;
    margin-left: 200px;
  }
  main .section-two h2 {
    font-size: 3rem;
    margin-left: 200px;
  }
  main .section-two .iframes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  main .section-two .iframes iframe {
    width: 584px;
    height: 232px;
    margin-left: 50px;
    margin-bottom: 72px;
  }
}

/*
@media screen and (min-width: 719px){
    body{
        width: 100%;
        header{
            margin: 0;
            padding: 0;
            nav div{
                input{
                    display: none;
                }
                ul{
                    font-family: $font-paragraphs;
                    background-color: $background-color;
                    height: 224px;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    li a{
                        color: $font-color-white;
                        text-decoration: none;
                        list-style-type: none;
                        float: left;
                        position: relative;
                    }
                    li a:hover{
                        color: $font-link-hover;
                    }
                    li a:active{
                        color: $font-link-active;
                    }
                }
            }
        }
    }
}*/
/*# sourceMappingURL=style.css.map */